doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous")
        title Login
    body.container 
        h2 login 
        p please Login to start your sesson 
        form(method="POST")
            lable(for="username") Username 
            input(type="text" name="username" placeholder="Username")#username.form-control
            lable(for="password") Password
            input(type="password" name="password" placeholder="Password")#password.form-control
            br
            input(type="submit" value="login").btn.btn-primary
            
        br   
        p Don't Have an Account ?
        p   Register 
            a(href="/auth/register") here
