.main-container{
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

.formgroup{
    /* background: tomato; */
    /* position: relativ
     */

    width: 100%;
    height: 100vh;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



/*********** IMAGE SECTION ************/

.imgSection{
    width: 26vw;
    height: 60vh;
    top: 0;
    position: fixed;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.img-uploader{
    height: 10rem;
    width: 96%;
    margin-top: 40rem;
    margin-left: 2rem;
    background-color: lightcoral;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(247, 247, 247) solid;
    border-radius: 1rem;
    box-shadow:  2px 2px 6px #f7f4f4,
                -2px -2px 6px #f7f4f4;
    cursor: pointer;
}

.img-uploader:hover{
    box-shadow:  6px 6px 10px #f7f4f4,
                -6px -6px 10px #f7f4f4;
    /* background-color: lightcoral; */
            }


.img-icon{
    font-size: 2rem;
    color: rgb(226, 224, 224);
    cursor: pointer;
}

.file-input{
    display: none;
    visibility: hidden;
}

/* IMAGE PREVIEW  */
.img-preview{
    height: 10rem;
    width: 96%;
    /* background-color: lightcoral; */
    border: 1px rgb(247, 247, 247) solid;
    border-radius: 1rem;
    box-shadow:  2px 2px 6px #f7f4f4,
                -2px -2px 6px #f7f4f4;
    margin-left: 2rem;
}

.preview-fragment{
    position: relative;
}

.close-button{
    position: absolute;
    right: -1%;
    top: 2%;
    z-index: 1;
    font-weight: bold;
    cursor: pointer;
}

.back-btn{
    height: 2.4rem;
    width: 2.4rem;
    /* background-color: #61516e; */
    box-shadow:  2px 2px 6px #f7f4f4,
                -2px -2px 6px #f7f4f4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-container{
    position: fixed;
    width: 12rem;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.back-btn:hover{
    background-color: orange;
    color: #fff;
}

/******* IMAGE SECTION END ************/

/******* MIDDLE FORM  ***********/

.middleForm{
    width: 40vw;
    height: 100vh;
    margin-left: 28.8vw;
    margin-right: 29vw;
    /* background: teal; */
    padding: 3.6rem 2.2rem;
}

.description{
    display: block;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    border: 1px rgb(202, 196, 196) solid;
    outline: none;
}

.price-section{
    background: #f8e68b;
    opacity: 0.5;
    width: 80%;
    height: 2.8rem;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.price-sign{
    background: orange;
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceInput{
    width: 4rem;
    height: 2rem;
    border: none;
    margin-right: 0.6rem;
    border-bottom: 1px #fff solid;
    background: transparent;
    outline: none;
    color: orange;
    font-weight: bold;
    text-align: center;
}

.priceInput::placeholder{
    color: orange;
    font-weight: bold;

}

.big-price-container{
    display: flex;
    justify-content: center;
    /* margin-top: -0.6rem; */
    margin-bottom: 1rem;
    
}

.text-form{
    display: block;
    height: 3rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #f8e68b;
    outline: none;
}

.button-container{
    background-color: rgba(255, 255, 255, 0.596);
    position: fixed;
    bottom: 0;
    padding-bottom: 8px;
    width: 30rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: rgb(252, 171, 22);
    color: #fff;
    width: 10rem;
    height: 2.8rem;
    border-radius: 2rem;
    border: none;
    outline: none;
}

.warrentyStatus-div{
    display: flex;
    align-items: center;
    padding: 0.8rem;
    padding-left: 0;
}

.warrentyperiod-styling{
    width: 100%;
    height: 4.3rem;
    background: rgba(252, 171, 22, 0.521);
    border-radius: 0 1rem 1rem 0;
    display: flex;
    margin-bottom: 2rem;
    position: relative;
    
}

.triangle-shape{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid rgba(252, 171, 22, 0.521);
    left: 0;
    top: -1rem
}

.discounteditem{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.value{
    margin-bottom: 5rem;
    margin-top: -2rem;
}

.value select{
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}



#status{
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

/********** MIDDLE FORM END ******************/


/********* SIDE FORM START ************/
.sideForm{
    /* background: #f5a742; */
    /* background: #ea4c2c; */
    background: #55495f;
    color: #fff;
    padding: 3rem 2rem;
    top: 0.2rem;
    border-radius: 2.6rem;
    height: 99vh;
    width: 27vw;
    font-size: large;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0.2rem;
}

.sideForm-smallDiv{
    /* background: chartreuse; */
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    /* margin-top: 1.3rem; */
}

.circle-container{
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* background-color: teal; */
}

.editMode{
    justify-content: flex-start;
}
.editMode div:last-child{
    margin-left: 1rem;
}

/* Dorpdown color START */

.hover-colorshower{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    color: #f7f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-colorshower:hover{
    background-color: #f8e68b;
    color: rgb(252, 171, 22);
}

.hover-colorshower:hover .hover-color{
    
    display: flex;
}



.hover-color{
    position: absolute;
    top: 3.2rem;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #61516e;
    box-shadow:  6px 6px 14px #525050,
                -1px -1px 14px #525050;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    /* #61516e */
}

.input-color{
    height: 3rem;
    width: 98%;
    /* margin-top: 2rem; */
    padding: 1rem;
    border: none;
    border-radius: 0.9rem;
    outline: none;
}

.down-arrow{
    font-size: 1.8rem;
    margin-top: 0.3rem;
}





/* Dropdown color END */

.color-circle{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
}

 /* Color pallet */
 .color-round .round-label {
    /* background-color: white; */
    border-radius: 50%;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
  }
  
  .color-round input[type="radio"] {
    visibility: hidden;
    display: none;
  }
  
  .color-round input[type="radio"]:checked + .round-label {
    border: 1px white solid;
  }

.one{
    background-color: powderblue;
}
.two{
    
    background-color: mistyrose;
}
.three{
    background-color: navajowhite;
}
.four{
    background-color: lightyellow;
}

.formInput{
    display: block;
    width: 100%;
    height: 3rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    border: 1px rgb(202, 196, 196) solid;
}
.formInput:focus{
    outline: none;
}

.eligibleCheckbox{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 2rem;
}

/******* SIDE FORM END ************/



/**** FOR COMMON ROUND CHECK-BOX **********/
.round{
    position: relative;
    margin-right: 1rem;
}
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: rgb(252, 171, 22);
    border-color: rgb(252, 171, 22);
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

 