.big-container{
    /* background-color: blueviolet; */
    height: 100%;
    width: 100%;
    display: flex;
}
.active-users{
    height: 100%;
    width: 40%;
    padding-left: 1rem;
    padding-top: 1rem;
}

.search-form{
    /* background-color: gray; */
    position: relative;
    
}
.chat{
    margin-top: 1rem;
}
.online-user{
    margin-top: 1rem;
    height: 4.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}
.online-user:hover{
    background-color: lightcyan;
}
.user-name{
    margin-left: 1rem;
}
.user-image{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.search-icon{
    position: absolute;
    left: 4%;
    top: 34%;
    color: lightslategrey;
}
.search-input{
    border: none;
    outline: none;
    padding: 1rem;
    padding-left: 2.6rem;
    height: 2.8rem;
    width: 90%;
    border-radius: 1rem;
    background-color: #f3f3f5;
}

/********************* SIDE CHAT BOX  **********************/

.chat-box{
    width: 80%;
    height: 100%;
    position: relative;
    margin-right: 1rem;
}

.user-info{
    display: flex;
    align-items: center;
    height: 12vh;
    margin-left: 0.6rem;
}

.user-img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.start-chat{
    height: 100vh;
    border-radius: 2rem;
    width: 100%;
    padding-bottom: 40%;
    background-color: #f3f3f5;
    overflow-y: scroll;
}

.write-msg{
    position: fixed;
    bottom: 1%;
    width: 55.3vw;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gainsboro; */
}
.form{
    background-color: #fff;
    width: 98%;
    height: 3rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly  ;
}
.input-msg{
    background-color: #f3f3f5;
    width: 80%;
    border-radius: 1rem;
    height: 2.3rem;
    border: none;
    outline: none;
    padding: 1rem;
}
.send-btn{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: #554955;
    color: #fff;
}
.upload-icon{
    background-color: #554955;
    color: #fff;
    width:2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/***** OWN message chat-body **********/
.sent-box{
    background-color: #F8D210;
    width: 50%;
    margin-left: 50%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}
.received-box{
    background-color: #554955;
    width: 50%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}