.sidebar{
    width: 210px;
    height: 100%;
    background-color: #fff;
    position: fixed;
}

.sidebar a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 160px;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    margin-top: 0.8rem;
}